### Pycaret 사용해보기

In [3]:
# 데이터 불러오기
import pandas as pd

# 학습/평가 데이터 로딩
df = pd.read_csv("./add_data/onenavi_train_data.csv")

# 학습/평가 데이터 로딩
df_test = pd.read_csv("./add_data/onenavi_test_data.csv")

In [5]:
df.head()

,A_DISTANCE,ETA,signaltype,WEEKDAY_0,WEEKDAY_1,WEEKDAY_2,WEEKDAY_3,WEEKDAY_4,HOUR_0,HOUR_1,...,level2_pnu_이천시,level2_pnu_종로구,level2_pnu_중구,level2_pnu_중랑구,level2_pnu_파주시,level2_pnu_평택시,level2_pnu_포천시,level2_pnu_하남시,level2_pnu_화성시,ET
0,0.826167,0.216722,0.064815,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1201.534058
1,0.373583,0.185241,0.287037,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,823.817017
2,0.423917,0.118311,0.055556,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,526.710999
3,0.627333,0.109026,0.018519,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,898.581970
4,0.636333,0.168607,0.259259,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,957.758972

In [8]:
# pycaret 설치
!pip install pycaret[full]

^C

In [6]:
from pycaret.regression import *

ModuleNotFoundError: No module named 'pycaret'